* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

/* Add styles here! */
html,
body {
  height: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 3rem;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 1rem;
}
p:last-child {
  margin-bottom: 0;
}

.max-width-wrapper {
  margin: 0 auto;
  padding: 0 24px;
  width: 800px;
}

.intro-chunk {
  max-width: 415px;
  padding-bottom: 32px;
  padding-top: 96px;
}

.intro-chunk strong {
  color: hsl(160deg, 100%, 30%);
}

main {
  border-top: 8px solid hsl(0deg, 0%, 60%);
  background-color: hsl(0deg, 0%, 30%);
  height: max-content;
  min-height: 100%;
  padding: 64px 0;
}
.card {
  background-color: #fff;
  border-bottom: 8px solid hsl(0deg, 0%, 60%);
  margin: 0 -24px;
  padding: 24px;
  width: 100%; 
}
.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  margin-left: -32px;
  margin-top: -16px;
  padding: 24px;
  width: fit-content;
}